<h4>Pairings for Week: <%= @week %></h4>

<% @pairs.each do |pair| %>
  <%= link_to pair[0].name, person_path(pair[0]) %>
  <span> | </span>
  <%= link_to pair[1].name, person_path(pair[1]) %>
  <br>
<% end %>
<br>
<strong>Unpaired:</strong>
<br>
<% @unpaired.each do |person| %>
  <%= link_to person.name, person_path(person) %> <br>
<% end %>